name: unittests
on:
  pull_request:
  push:
    branches: master
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          channels: conda-forge
      - name: Installations
        run: |
          sudo apt-get update
          sudo apt-get install octave
          conda --version
          which python
          pip install .
          pip install flake8 check-manifest
          pip install pytest coverage pytest-sugar
      - name: Run Python unit tests
        run: |
          make
          flake8 --count picard
      - name: Run Octave unit tests
        run: |
          cd examples/matlab_octave
          octave plot_ica.m
          octave plot_ica_whiten.m
          octave plot_ica_pca.m
      - name: Upload coverage
        run: |
          bash <(curl -s https://codecov.io/bash)
